<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Vp2FragmentRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ConstraintLayoutBannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RecyclerViewBannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TouTiaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".BannerActivity"
            android:exported="false" />
    </application>

</manifest>