<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.xingin.xhs" />
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTechnologyDemo"
        tools:targetApi="31">
        <activity
            android:name=".ui.AndroidStudioDevelopmentPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alicom.fusion.auth.numberauth.FusionNumberAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NumberAuthTheme" />
        <activity
            android:name="com.alicom.fusion.auth.upsms.AlicomFusionUpSmsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/authsdk_activity_dialog" />
        <activity
            android:name="com.alicom.fusion.auth.smsauth.FusionSmsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/authsdk_activity_dialog" />
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />
        <activity
            android:name="com.mobile.auth.gatewayauth.PrivacyDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />
    </application>

</manifest>